WE WILL PREDICT THE SPECIES OF THE FLOWERS USING MACHINE LEARNING - RANDOM FOREST ALGORITH

In [3]:
# Loading the Library with the iris dataset
from sklearn.datasets import load_iris
# Loading scikit'srandom forest classifier Library
from sklearn.ensemble import RandomForestClassifier
# Loading pandas
import pandas as pd
# Loading numpy
import numpy as np
# Setting random seed
np.random.seed (0)

In [4]:
# Creating an object called iris with the iris data
iris = load_iris()
#print ( iris )
# Creating a dataframewith the four feature variables
df = pd.DataFrame ( iris.data , columns=iris.feature_names )
# Viewing the top 5 rows
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [5]:
# Adding a new column for the species name
df [ 'species' ] = pd.Categorical.from_codes ( iris.target ,
iris.target_names )
# Viewing the top 5 rows
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [7]:
# Creating Test and Train Data
df ['is_train'] = np.random.uniform(0,1,len(df)) <= .75
# View the top 5 rows
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,is_train
0,5.1,3.5,1.4,0.2,setosa,True
1,4.9,3.0,1.4,0.2,setosa,True
2,4.7,3.2,1.3,0.2,setosa,True
3,4.6,3.1,1.5,0.2,setosa,True
4,5.0,3.6,1.4,0.2,setosa,True

In [8]:
# Creating dataframes with test rows and training rows
train , test = df[df['is_train'] == True ] , df[df[ 'is_train' ] == False ]
#Show the number of observations for the test and training dataframes
print ( ' Number of observations in the training data : ' , len ( train ) )
print ( ' Numberof observations in the test data : ' , len ( test ) )

 Number of observations in the training data :  118
 Numberof observations in the test data :  32

In [10]:
# Create a list of the feature column's names
features=df.columns [ : 4 ]
# View features
features

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [13]:
#Converting each species name into digits
y = pd.factorize ( train [ 'species'])[0]
# Viewing target
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2], dtype=int64)

In [17]:
# Creating a random forest Classifier .
clf = RandomForestClassifier (n_jobs=2 , random_state=0 )
# Training the classifier
clf.fit (train[features],y)

RandomForestClassifier(n_jobs=2, random_state=0)

In [18]:
#Applying the trained Classifier to the test
clf.predict ( test [ features ] )

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 2, 2, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int64)

In [19]:
# Viewing the predicted probabilities of the first 10 observations
clf.predict_proba(test[features])[ 0:10 ]

array([[1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [0.95, 0.05, 0.  ],
       [1.  , 0.  , 0.  ],
       [0.99, 0.01, 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ]])

In [21]:
#mapping names for the plants for each predicted plant class
preds = iris.target_names [ clf.predict ( test [ features ] ) ]
# View the PREDICTED species for the first five observations
preds [ 0 : 25 ]

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'versicolor', 'versicolor', 'versicolor', 'virginica',
       'virginica', 'versicolor', 'versicolor', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica'], dtype='<U10')

In [23]:
#Viewing the ACTUAL species for the first five observations
test [ 'species' ].head( )

7     setosa
8     setosa
10    setosa
13    setosa
17    setosa
Name: species, dtype: category
Categories (3, object): ['setosa', 'versicolor', 'virginica']

In [25]:
#Creating confusion matrix
pd.crosstab( test [ 'species' ] , preds , rownames = [ 'Actual Species' ] , colnames = [ 'Predicted Species' ] )

Predicted Species  setosa  versicolor  virginica
Actual Species
setosa                 13           0          0
versicolor              0           5          2
virginica               0           0         12

 **Model accuracy = 30/32 *100= 93%**

In [27]:
preds = iris.target_names[clf.predict([[5.0 , 3.6 , 1.4,2.0] , [ 5.0 , 3.6 , 1.4,2.0 ] ] ) ]
preds

C:\Users\Joshin Jojo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array(['setosa', 'setosa'], dtype='<U10')